/* Variáveis CSS */
:root {
    --cor-fundo: #fafaf8;
    --cor-escuro: #0f0f0f;
    --cor-texto: #1a1a1a;
    --cor-text-suave: #555;
    --cor-cinza: #888;
    --cor-borda: #e8e8e4;
    --cor-principal: #e85d26;
    --cor-principal-clara: #fde8dc;
    --cor-principal-hover: #cf4e1e;
    --cor-sucesso: #22c55e;
    --cor-erro: #ef4444;
    --cor-aviso: #f59e0b;

    --fonte-titulo: serif;
    --fonte-corpo: sans-serif;

    --espaco-xs: 4px;
    --espaco-sm: 8px;
    --espaco-md: 16px;
    --espaco-lg: 24px;
    --espaco-xl: 40px;
    --espaco-2xl: 60px;

    --raio: 12px;
    --raio-sm: 8px;
    --raio-pilula: 100px;

    --sombra-sm: 0 2px 8px rgba(0,0,0, 0.06);
    --sombra-md: 0 4px 24px rgba(0,0,0, 0.1);
    --sombra-lg: 0 12px 48px rgba(0,0,0, 0.14);

    --transicao: 0.5s ease;
}

/* Zerando os estilos do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-corpo);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

/* Cabeçalho Global */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: var(--cor-fundo);
    border-bottom: 1px solid var(--cor-borda);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-family: var(--fonte-titulo);
    font-size: 26px;
    color: var(--cor-texto);
    font-weight: 700;
}

.logo span{
    color: var(--cor-principal);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-lista {
    display: flex;
    gap: 28px;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: var(--cor-text-suave);
    transition: color var(--transicao);
}

.nav-link:hover{
    color: var(--cor-principal);
}


/* Rodapé Global */
.rodape {
    background-color: var(--cor-escuro);
    color: var(--cor-cinza);
    text-align: center;
    padding: 48px 20 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.rodape-container {
    display: grid;
    grid-template-columns: 1.8fr 0.9fr 0.9fr;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 48px;
    border-bottom: 1.5px solid var(--cor-cinza);
}

.rodape-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.rodape-logo {
    font-family: var(--fonte-titulo);
    font-size: 28px;
    color: #fafaf8;
    font-weight: 700;
}

.rodape-logo span {
    color: var(--cor-principal);
}
.rodape-sub {
    font-size: 14px;
    line-height: 1.6;
    max-width: 360px;
}
.rodape-redes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rodape-redes a{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #18181c;
    border: 1px solid #2d2d30;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b3b3b7;
    font-size: 15px;
    transition: all var(--transicao);
}

.rodape-redes a:hover{
    background-color: var(--cor-principal);
    color: #fafaf8;
    border-color: var(--cor-principal);
    transform: translateY(-2px);
}

.rodape-links h4{
    font-size: 20px;
    color: var(--cor-principal-clara);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.rodape-links ul{
    display: flex;
    flex-direction: column;
    gap: 12;
    line-height: 2;
}

.rodape-links ul a{
    font-size: 18px;
    color: #8f8f94;
    transition: all var(--transicao);
}

.rodape-links ul a:hover{
    color: var(--cor-principal);
}